<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:with="activeTab='murid'"
      layout:decorate="~{layout}">
    <body>
        <section layout:fragment="pageHeader">
            <div class="page-header page-header-light">
                <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                    <div class="d-flex">
                        <div class="breadcrumb">
                            <a href="index.html" class="breadcrumb-item"><i class="icon-statistics mr-2"></i> Murid</a>
                            <span class="breadcrumb-item active">Form</span>
                        </div>

                        <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
                    </div>
                </div>
            </div>
        </section>

        <section layout:fragment="content">
            <!-- Form inputs -->
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">Murid form inputs</h5>
                    <div class="header-elements">
                        <div class="list-icons">
                            <a class="list-icons-item" data-action="collapse"></a>
                            <a class="list-icons-item" data-action="reload"></a>
                            <a class="list-icons-item" data-action="remove"></a>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <form class="form" th:action="@{/murid/form}" th:method="post" th:object="${murid}">
                        <fieldset class="mb-3">
                            <input type="hidden" th:field="*{id}" />
                            <div class="form-group row">
                                <label class="col-form-label col-lg-2">NIS</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" th:field="*{nis}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-form-label col-lg-2">Nama</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" th:field="*{nama}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-form-label col-lg-2">Kelas</label>
                                <div class="col-lg-10">
                                    <select class="form-control" th:field="*{kelas}">
                                        <option value="opt1">Default select box</option>
                                        <option th:each="x : ${listKelas}" th:value="${x.id}" th:text="${x.namaKelas}">10 A</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-form-label col-lg-2">No. Absen</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" th:field="*{noAbsen}">
                                </div>
                            </div> 

                            <div class="form-group row">
                                <label class="col-form-label col-lg-2">Jenis Kelamin</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" th:field="*{jenisKelamin}">
                                </div>
                            </div> 

                            <div class="form-group row">
                                <label class="col-form-label col-lg-2">Tanggal Lahir</label>
                                <div class="col-lg-10">
                                    <input type="date" class="form-control" th:field="*{tglLahir}">
                                </div>
                            </div> 
                        </fieldset>

                        <div class="text-right">
                            <button type="submit" class="btn btn-primary">Submit <i class="icon-paperplane ml-2"></i></button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /form inputs -->
        </section>
    </body>
</html>
